.about {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;

  .about-bio {
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    font-size: 2.25em;

    &__job-title {
      color: #949494;
      font-size: 0.7em;
      background-color:rgba(179, 204, 231, 0.534);
      display: inline-block;
      width: fit-content;
      line-height: 0.1;
      padding-bottom: 0.5em;
      border-radius: 5px;
      margin-top: 10px;
    }
  }

  .about-picture {
    display: flex;
    margin-top: 3.5em;
    margin-right: 2.5em;
    flex-direction: column;
    padding: 25px;
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.825);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    .profile-picture {
      display: block;
      border-radius: 20%;
      width: 100%;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
    }

    &__location {
      color: #949494;
      font-size: 0.95em;
      margin-top: 10px;
      text-align: center;

      .location-icon {
        width: 16px;
        margin-right: 5px;
        filter: grayscale(50%);
      }
    }
  }

  &__illustration {
    display: block;
    position: absolute;
    z-index: -9999;
    transform: rotate(70deg);
    top: 10em;
    right: -2em;
    opacity: 0.45;
  }
}
