$primary: #111821;
$secondary: #1E2A3A;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Responsive configuration
@mixin responsive($breakpoint) {
  @if ($breakpoint == tablet) {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint == desktop) {
    @media (min-width: 992px) {
      @content;
    }
  }
}
