.contact {
  height: 100vh;
  padding: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__heading {
    font-size: 3.5em;
  }

  &__info {
    text-align: center;
    margin-top: 2.5em;
    font-size: 1.8em;
  }

  &__email,
  &__phone {
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    background-color: #fff;
    opacity: 0.8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.795);
      & a {
        color: #fff;
      }
    }
  }

  &__illustration {
    display: block;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -999;
  }
}
