.navigation {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #{$secondary};
  color: #fff;
  width: 100%;
  min-width: 320px;

  &__view {
    padding: 0 1.2em;
    visibility: hidden;
    height: 0;
    transition: height 0.5s ease;

    @include responsive(desktop) {
      visibility: visible;
      padding: 1.2em;
      height: 100vh;
    }
  }
  
  @include responsive(desktop) {
    flex: 1;
    min-width: 0;
    max-width: 280px;
    height: 100vh;
  }
}

.navigation__header {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1.2em;

  @include responsive(desktop) {
    padding: 1.2em 0 0;
  }
}

.navigation__burger-menu-icon {
  position: relative;

  @include responsive(desktop) {
    display: none;
  }

  @for $i from 1 through 3 {
    .burger-menu-icon-bar#{$i} {
      width: 30px;
      height: 4px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
      border-radius: 1px;
    }
  }
}

// Hidden input tag of type check
#burger-menu-checkbox {
  position: absolute;
  top: 1.5em;
  left: 1.2em;
  width: 35px;
  height: 35px;
  z-index: 9999;
  opacity: 0;
  cursor: pointer;

  @include responsive(desktop) {
    display: none;
  }

  /*===  Apply transition-toggle to burger icon ===*/
  &:checked + header .burger-menu-icon-bar1 {
    transform: rotate(-45deg) translate(-9px, 7px);
  }

  &:checked + header .burger-menu-icon-bar2 {
    opacity: 0;
  }

  &:checked + header .burger-menu-icon-bar3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }

  &:checked ~ .navigation__view {
    visibility: visible;
    height: 100vh;

    @media only screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      & {
        height: 100%;
        margin-bottom: 3em;
      }
    }
  }
}

.navigation__full-name {
  flex: 1;
  text-align: center;
  margin-right: 1em;
  & > a {
    color: #fff;
  }

  @include responsive(desktop) {
    margin-right: 0;
  }
}

.navigation__intro-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin-bottom: 0.6em;
  }
}

.navigation__profile-picture {
  border-radius: 50%;
  width: 7em;
  height: 7em;
  margin-bottom: 1.2em;
}

.navigation__social-links svg {
  margin: 1.5em 0.8em;

  &:hover .a {
    fill: #0e777c;
  }
}

.navigation__break-line {
  border-color: #fffbfb1c;
  background-color: #fffbfb1c;
}

.navigation__links {
  margin: 1.5em;

  & li {
    margin-bottom: 1em;
    & span {
      color: #bcc0c4;
      font-size: 1.2em;
      font-weight: bold;

      & svg {
        margin-right: 0.3em;
      }
    }

    &:hover svg path {
      fill: #119da4;
    }

    &:hover span {
      color: #119da4;
    }
  }
}

.active-link {
  & svg path {
    fill: #119da4;
  }

  & > a > span {
    color: #119da4;
  }
}

.navigation__hire-me-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  height: 50px;
  background-color: #119da4;
  border: none;
  border-radius: 0.3em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 3px 14px rgba(0, 0, 0, 0.3);

  & svg {
    margin-right: 0.3em;
  }

  &:hover {
    background-color: #0e777c;
  }

  &:active {
    background-color: #10676b;
  }

  @include responsive(desktop) {
    font-size: 1.1em;
    width: 8em;
    height: 45px;
    margin: 0 auto;
  }
}
