.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1em;
  font-size: 1.05em;

  @include responsive(tablet) {
    margin: 0.8em;
    font-size: 1em;
  }

  @include responsive(mobile) {
    font-size: 0.6em;
  }

  .nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    margin-right: 10em;

    @include responsive(tablet) {
      width: 50%;
      margin-right: 2em;
    }

    @include responsive(mobile) {
      width: 65%;
      margin-right: 0;
    }

    &__link {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.8em;
      font-weight: bold;
      position: relative;

      & span img {
        margin: 0 3px -3px 0;
        width: 22px;

        @include responsive(tablet) {
          width: 18px;
        }

        @include responsive(mobile) {
          width: 12px;
        }
      }

      &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: -5px;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: tomato;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after {
        width: 100%;
        left: 0;
      }

      &:hover {
        color: #568dc9;
      }
    }
  }

  .logo {
    margin-left: 8em;
    cursor: pointer;

    @include responsive(tablet) {
      margin-left: 1em;
    }

    @include responsive(mobile) {
      margin-left: 0;
    }

    &__img {
      display: block;
      width: 125px;

      @include responsive(tablet) {
        display: block;
        width: 105px;
      }

      @include responsive(mobile) {
        display: block;
        width: 70px;
      }

      &:hover {
        filter: hue-rotate(200deg);
      }
    }
  }

  .scroll-to-top-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: tomato; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 15px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.6;

    &:hover {
      background-color: #e42300; /* Add a dark-grey background on hover */
    }
  }
}
