.navigation {
  background-color: #{$secondary};
  color: #fff;
  height: 100%;
}

.navigation__header {
  display: flex;
  padding: 1.2em;
}

.navigation__burger-menu {
  position: relative;
  display: inline-block;
  

  @for $i from 1 through 3 {
    &-bar#{$i} {
      width: 30px;
      height: 4px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
      border-radius: 1px;
    }
  }

  & input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    cursor: pointer;

    /*===  Apply transition-toggle to burger icon ===*/
    &:checked ~ .navigation__burger-menu-bar1 {
      transform: rotate(-45deg) translate(-9px, 7px);
    }

    &:checked ~ .navigation__burger-menu-bar2 {
      opacity: 0;
    }

    &:checked ~ .navigation__burger-menu-bar3 {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }
}

.navigation__full-name {
  flex: 1 1 auto;
  justify-content: center;
  text-align: center;
}
