.portfolio {
  height: 100vh;
  margin-left: 150px;
  padding: 50px;
  position: relative;

  &__heading {
    font-size: 2.5em;
  }

  &__cards {
    display: flex;
    height: 100%;
    margin-top: 40px;
  }

  &__card {
    background: white;
    border-radius: 1rem;
    // padding: 1.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(43, 47, 89);
      background: linear-gradient(
        180deg,
        rgba(43, 47, 89, 0) 80%,
        rgba(0, 0, 0, 0.3536765047816002) 100%
      );
    }
  }

  &__card-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &__card-links {
    font-size: 1.65em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100%;
    padding: 20px;

    & a {
      z-index: 999;
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.514);
          color: #fff;

      &:hover {
        color: rgb(39, 157, 235);
      }
    }
  }

  &__illustration {
    width: 60%;
    display: block;
    position: absolute;
    z-index: -9999;
    transform: rotate(70deg);
    top: 0;
    left: -18em;
    opacity: 0.2;
  }

  &__card:not(:first-child) {
    margin-left: -2rem;
  }

  &__card:not(:last-child):hover,
  &__card:not(:last-child):focus-within {
    transform: translateY(-1rem);
    ~ .portfolio__card {
      transform: translateX(2rem);
    }
  }
}
