.portfolio-page {
  padding: 1.5em;
  min-width: 320px;

  &__heading {
    text-align: center;

    & h1 {
      font-size: 2.2em;
      margin-bottom: 0.3em;
    }

    & p {
      color: #bcc0c4;
      line-height: 1.6;
      margin-bottom: 1.5em;
    }
  }

  &__hire-me-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    height: 45px;
    width: 7.5em;
    margin: 0 auto 2em;
    background-color: #119da4;
    border: none;
    border-radius: 0.3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 3px 14px rgba(0, 0, 0, 0.3);

    & svg {
      margin-right: 0.3em;
    }

    &:hover {
      background-color: #0e777c;
    }

    &:active {
      background-color: #10676b;
    }
  }
}

.portfolio-page__break-line {
  border-color: #fffbfb1c;
  background-color: #fffbfb1c;
  margin-bottom: 2em;
}

.portfolio-page__projects {
  display: flex;
  flex-direction: column;
  padding: 0 0.85em;

  &-card {
    position: relative;
    border-radius: 0.25em;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #1e2a3a;
    margin-bottom: 1.5em;

    &-image {
      width: 100%;
      height: 50%;
    }

    &-overlay {
      opacity: 0;
      transition: 0.5s ease;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #1e2a3a;
      width: 100%;
      height: 100%;

      & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #405a7c;
          border-radius: 0.35em;
          width: 80%;
          height: 3.5em;
          margin-bottom: 2em;

          &:hover {
            background-color: #354a64;
          }

          & li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: #fff;

            & svg {
              margin-right: 0.65em;
            }
          }
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      padding: 1.2em;
      height: 50%;

      & h3 {
        margin-bottom: 0.6em;
        text-decoration: underline;
      }

      & p {
        color: #bcc0c4;
        font-size: 0.95em;
        line-height: 1.4;
        flex: 1;
        margin-bottom: 1.9em;
      }

      & .card-info-icons {
        display: flex;
        justify-content: flex-end;

        & svg {
          margin-right: 0.65em;
        }
      }
    }

    &:hover &-overlay {
      opacity: 1;
    }
  }
}
