.social-nav {
  position: fixed;
  bottom: 50px;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 130px;

  &__icon  img {
    width: 100%;
  }
}