@import "config";
@import "navigation";
@import "about";
@import "about-2";
@import "portfolio";
@import "portfolio-2";
@import "resume";
@import "contact";
@import "contact-2";
@import "social-nav";
@import "navigation-2";

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  overflow: auto;
  background-color: #{$primary};
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

