@import 'config';
@import 'navigation';
@import 'about';
@import 'portfolio';
@import 'contact';
@import 'social-nav';

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: nunito, sans-serif;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #3A4654;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}